<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Ion-Progress-Bar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <br />

  <!-- Default Progress Bar -->
  <ion-list>
    <ion-list-header>
      <ion-label>Default</ion-label>
    </ion-list-header>
    <ion-progress-bar></ion-progress-bar>
  </ion-list>

  <br />

  <ion-list>
    <ion-list-header>
      <ion-label>Default al 50%</ion-label>
    </ion-list-header>
    <ion-progress-bar value="0.5"></ion-progress-bar>
  </ion-list>

  <br />

  <ion-list>
    <ion-list-header>
      <ion-label>Color</ion-label>
    </ion-list-header>

    <!-- Progress Bar with Color -->
    <ion-progress-bar color="secondary" value="0.5"></ion-progress-bar>
    <br />
    <ion-progress-bar color="tertiary" value="0.5"></ion-progress-bar>

    <br />
    <br />

    <ion-list-header>
      <ion-label> Indeterminado Iz - De </ion-label>
    </ion-list-header>
    <ion-progress-bar type="indeterminate"></ion-progress-bar>

    <ion-list-header>
      <ion-label> Indeterminado De - Iz </ion-label>
    </ion-list-header>
    <ion-progress-bar type="indeterminate" reversed="true"></ion-progress-bar>

    <br />
    <br />

    <ion-list-header>
      <ion-label> Regulado (Buffer) </ion-label>
    </ion-list-header>
    <ion-progress-bar value="0.25" buffer="0.5"></ion-progress-bar>
  </ion-list>
</ion-content>
