<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Ion-Loading</ion-title>
  </ion-toolbar>
</ion-header>

<br />
<br />

<ion-content fullscreen class="ion-padding">
  <ion-button expand="block" (click)="presentLoading()"
    >Mostrar Loading Op1</ion-button
  >
  <br />

  <ion-button expand="block" (click)="presentLoadingOptions()"
    >Mostrar Loading Op2</ion-button
  >
  <br />

  <ion-button expand="block" (click)="presentLoadingWithOptions()"
    >Mostrar Loading Op3</ion-button
  >
</ion-content>
